@import "tailwindcss";

@theme {
  --color-primary: #F26522;
  --color-primary-dark: #d95516;
  --color-secondary: #F9E5E0;
  --color-text-main: #1f2937;
  --color-text-muted: #4b5563;
  --color-bg-light: #f9fafb;
}
